{% extends "base.html" %}

{% block extrahead %}
        <script src="/static/nbpreview/js/vendor/es5-shim.min.js"></script>
        <script src="/static/nbpreview/js/vendor/marked.min.js"></script>
        <script src="/static/nbpreview/js/vendor/purify.min.js"></script>
        <script src="/static/nbpreview/js/vendor/ansi_up.min.js"></script>
        <script src="/static/nbpreview/js/vendor/prism.min.js"></script>
        <script src="/static/nbpreview/js/vendor/katex.min.js"></script>
        <script src="/static/nbpreview/js/vendor/katex-auto-render.min.js"></script>
        <script src="/static/nbpreview/js/vendor/notebook.min.js"></script>
        <script src="/static/js/app.js"></script>

        <link rel="stylesheet" href="/static/nbpreview/css/vendor/katex.min.css" />
        <link rel="stylesheet" href="/static/nbpreview/css/vendor/prism.css" />
        <link rel="stylesheet" href="/static/nbpreview/css/notebook.css" />
        <link rel="stylesheet" href="/static/css/preview.css" />
{% endblock %}
